<div class="container mt-4">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <h1 class="text-center">User Profile</h1>
        <div class="card bg-light mt-4">
          <div class="card-body text-center">
            <h3><%= @user.full_name %></h3>
            <h5><%= @user.email %></h5>
          </div>
        </div>
    </div>
  </div>
</div>