<footer class="footer py-3 bg-light mt-5">
  <div class="container-fluid">
    <span class="text-muted text-left">@ Copyright 2021 | realhouse.io Built by <a href="https://github.com/rOluochKe" target="_blank">Raymond Oluoch</a></span>
  </div>
</footer>